.planet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
  width: 250px;
  height: 150px;
}
.name{
  color: #f8fafc;
  font-size:20px;
  font-family: "Roboto";
}
.description{
  color: #f1f5f9;
  font-size:16px;
  font-family: "Roboto";
  text-align: center;
  max-width: 800px;
}

@media screen and (min-width:768px){
  .image{
    width: 405px;
    height: 292px;
  }
  .name{
    font-size:32px;
    margin-top: 40px;
  }
  .description{
    font-size: 20px;
    margin-bottom: 40px;
  }
}